body {
    width: 960px;
    margin: 0px auto;
    background-image: url(../bg1.png);
    background-attachment: fixed;
  }
main{
    display: flex;
}
header{
    display: flex;
}
.footer {
    margin-bottom: 5px;
    padding: 15px 0;
    width: 100%;
    background: #C3C3C3;
    text-align: center;
}
.konten {
    width: 100%;
    background: #EFE4B0;
}